.spinner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

// .payment-details {
//   border-left: 1px solid rgba(0,0,0,.12);
// }

tr.total {
  border-bottom: none !important;
}

.checkout-information {
  margin-bottom: 0px;
}

.order-details {
  border-right: 1px solid rgba(0,0,0,.12);
}

.StripeElement {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .payment-details {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  .order-details {
    border-right: none;
  }
}
