.stats-content {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  .quick-stats {
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .timeline {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    // padding: 25px;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    width: 100%;
  }
}
.ct-chart {
  padding: 10px;
}

.ct-grid {
    stroke: rgba(0,0,0,.2);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}


.ct-series-a .ct-slice-pie {
  stroke: #006666;
  fill: #006666;
}

.ct-series-b .ct-slice-pie {
  stroke: #009933;
  fill: #009933;
}

.ct-line {
  stroke-width: 4px;
}

.ct-series-a .ct-line {
  fill: none;
  stroke: #009933;
}

.ct-series-a .ct-point {
  stroke: #009933;
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-series-b .ct-line {
  fill: none;
  stroke: #006666;
}

.ct-series-b .ct-point {
  stroke: #006666;
  stroke-width: 10px;
  stroke-linecap: round;
}
