.submit-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info-text {
  color: #737373;
  padding: 15px;
}

.error {
  color: #CC3333;
  padding: 15px;
}

.activate-header {
    color: #000000;
}

// .activate-info {
//   color: #737373;
//   margin: .67em 0;
// }

.activate-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.progress {
  margin: 0;
}

.welcome-features {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #737373;
  padding: 0 10%;

  .material-icons {
    margin-right: 25px;
  }

}

.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.activate-login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.activate-card {
  .card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #000000;
  }
}
// 
// .activate-transition-enter {
//   transform: translate(100%);
// }
// .activate-transition-enter.activate-transition-enter-active {
//   transform: translate(0%);
//   // transition: transform 1000ms ease-in-out;
// }
// .activate-transition-leave {
//   transform: translate(0%);
// }
// .activate-transition-leave.activate-transition-leave-active {
//   transform: translate(-100%);
//   transition: transform 1000ms ease-in-out;
// }

.ReactModalPortal > * {
    // When the modal is closed, overlay div has no css class
    // This selector should be overridden by the `&--after-open` class below
    opacity: 0;
}
.ReactModal__Overlay {
  z-index: 99;
  transition: opacity 200ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
      opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}

.ReactModal__Content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
